<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <!-- <form action="#" method="get">
        <label>Enter Username</label>
        <input type="text">
        <label>Enter Password</label>
        <input type="password">
        <label>Enter Captcha</label>
        <input type="number"> -->
        <button type="submit" name="SignUp">SignUp</button>
    <!-- </form> -->
     <!-- <script>
        function signup() {
            document.write("Welcome to you User");
        }
    </script> -->
    <!-- signup(); -->
</body>
</html>