.Footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;    
}

#button{
    height: 45px;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    columns: 10px;
    border: 2px solid rgb(209, 86, 15);
    color: black;
    font-size: 22px;
    background: linear-gradient(rgb(160, 135, 24) 25%, rgb(204, 48, 84) 75%);
}
#button:hover{
    color: rgb(0, 0, 0);
    background: linear-gradient(rgb(230, 78, 32) 25%, rgb(61, 168, 61) 75%);
}
span{
    font-size: medium;
}

.FAQ{
    color: #b5d190;
}
.SocialMediaLink{
    height: 1.2em;
    width: 1.2em;
}

img:hover{
    border-radius: 50%;
    background: #fff;
}
.Image{
    height: 100%;
    width: 100%;
}
.Image #Nexon{
    alt: "TATANexon";
    border-radius: 50%;
    border: 2px solid black;
}

img{
    margin-left: 25px;
}
.nexon{
    height : 200px;
    width: 200px;
}

.Image #Tiago{  
    border-radius: 50%;
    border:2px solid rgb(0, 0, 0);
        height : 250px;
        width : 400px;
}

.Image #Punch{
    border-radius: 50%;
    border:2px solid black;
        height : 250px;
        width : 400px;
}

.Image #TATATiago{
    border-radius: 50%;
    border:2px solid black;
        height : 250px;
        width : 400px;
}

.Image #TATATigor{
    border-radius: 50%;
    border:2px solid black;
        height : 250px;
        width : 400px;
}

.Image #Nexon:hover{
    alt: "TATANexon";
    height: 220px;
    width: 220px;
}

.Image #Tiago:hover{
    alt: "TATATiago";
    height: 270px;
    width: 410px;
}
    
.Image #Punch:hover{
    src: "TATAPunch";
    height: 272px;
    width: 405px;
}

.Image #TATATigor:hover{
    src: "TATATigor";
    height: 270px;
    width: 410px;
}

.Image #MarutiSuzuki{
    border-radius: 50%;
    border:2px solid black;
    height : 250px;
    width : 400px;
}

.Image #MarutiSuzuki:hover{
    src: "MarutiSuzuki";
    height: 255px;
    width: 400px;
}

.newCars
{
    background: linear-gradient(rgba(124, 21, 184,0.7) 20%, rgb(92, 179, 73) 40%, rgb(240, 120, 68) 60% , rgb(100,60,140) 90%);
    border: 2px solid rgb(159, 92, 247);
    border-radius: 30%;
    text-transform: uppercase; 
}

.newCars:hover
{
    background: linear-gradient(rgba(82, 209, 71, 0.7) 20%, rgb(219, 117, 219) 30%, rgb(11, 241, 134) 40% , rgb(219, 169, 29) 90%);
    color: red;
    border: 2px solid rgb(159, 92, 247);
    border-radius: 30%;
    text-transform: uppercase; 
}

/* CSS code for styling the form */
* {
    box-sizing: border-box;
}
#Search{
    height: 42px;
    background: #11c2da;
}
body{
background-color: lightgreen;
}

.container {
    width: 20px;
    background-color:white;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: white;
    background-color: DarkOrange;
    padding: 20px;
}

form {
    border: 2px solid gray;
    padding: 20px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    width: 30%;
    font-weight: bold;
}

.input {
    width: 70%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    border: 1px solid Orange;
}

input[type=submit], input[type=reset] {
    width: 45%;
    padding: 10px;
    margin: 10px;
    border: none;
    color: white;
    background-color: Orange;
    cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: Orange;
}

p {
    text-align: center;
}

div .register ,.forgot-password{
    color: darkorange;
    text-decoration: none;
}

div .register:hover ,.forgot-password:hover {
    color: darkorange;
    text-decoration: underline;
}

label #Search{
    background: #11c2da;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-top:10px;
    padding-top: 0px;
}

#Search:hover{
    background: #15dffa;
}
.o-frwuxB {
    cursor: pointer;
}
.o-fzptOu {
    margin-right: 12px;
}
.o-brXWGL {
    position: relative;
}
/* user agent stylesheet */

.o-cpNAVm {
    color: #6f6f6f;
}
*, :after, :before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, :after, :before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.o-cKuOoN {
    display: inline-block;
}
div {
    display: block;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
svg:not(:root) {
    overflow: hidden;
}
.o-euTeMg {
    outline: none;
}
.o-cUSgRL {
    height: 24px;
}
.o-eVIFUq {
    width: 24px;
}
.o-cqgkZn {
    -webkit-flex-basis: auto;
    flex-basis: auto;
}
.o-eoatGj {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
.o-dlrcWp {
    -webkit-flex-grow: 0;
    flex-grow: 0;
}

/*
.o-frwuxB {
    cursor: pointer;
}
.o-cpNAVm {
    color: #6f6f6f;
}
.o-eemiLE {
    font-size: 13px;
}
.o-crgVKG {
    visibility: visible;
}*/